# Yuhe Wu
# wk8 - 2021/10/12 - 2021/10/19
# Python functions

**Python function formats:

<code>def function_name(args):
    '''
    docstring (Document string)- This is where you describe a function
    '''
    #statement(s)<code/>

In [1]:
def fun_welcome():
    print('Welcome to CIS310')

In [2]:
fun_welcome()

Welcome to CIS310

In [3]:
#Function with parameters
def fun_greet(name):
    '''
    This funtion greets a person name passed as a parameter
    '''
    print('Hello, ' + name + '. Good morning!')

In [4]:
fun_greet('Joe')

Hello, Joe. Good morning!

In [5]:
fun_greet('Kevin')

Hello, Kevin. Good morning!

In [6]:
print(fun_greet.__doc__)

    This funtion greets a person name passed as a parameter

In [7]:
def sum_nums(n1,n2):
    print('n1 = ',n1)
    print('n2 = ',n2)
    print(n1+n2)

In [8]:
sum_nums(5,10)

n1 =  5
n2 =  10
15

In [9]:
sum_nums(20,10)

n1 =  20
n2 =  10
30

In [10]:
sum_nums('word1','word2')

n1 =  word1
n2 =  word2
word1word2

In [11]:
sum_nums('a','b')

n1 =  a
n2 =  b
ab

In [12]:
# using return 
def sum_with_return(num1,num2):
    return num1 + num2

In [13]:
print('The sum of 5 and 10 is ' , sum_with_return(5,10))

The sum of 5 and 10 is  15

In [14]:
s = 0
print('Before calling a function s = {}'.format(s))
s = sum_with_return(5,10)
print('After calling a function s = {}'.format(s))

Before calling a function s = 0
After calling a function s = 15

In [15]:
#compute the avarage of 3 numbers
def num_avg(n1,n2,n3):
    return ((n1+n2+n3)/3)

In [16]:
avg = num_avg(2,5,8)
print('The average of 2, 5, 8 is {}'.format(avg))

The average of 2, 5, 8 is 5.0

In [17]:
print('The average of 2, 5, 8 is {}'.format(num_avg(2,5,8)))

The average of 2, 5, 8 is 5.0

In [18]:
def full_name(fname,lname):
    return lname + ', '+fname

In [19]:
full_name('Ramadan','Abdunabi')

'Abdunabi, Ramadan'

In [20]:
# min_two_odds(3,5) --> 3
# min_two_odds(4,9) --> 9
def fun_min_odds(n1,n2):
    if n1%2 != 0 and n2%2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [21]:
fun_min_odds(9,15)

9

In [22]:
fun_min_odds(4,5)

5

In [23]:
#create method is_prime()
for n in range(2,15):
    print(n)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return str(num) + ' is not prime'
        
    return str(num) + ' is prime'

In [25]:
is_prime(16)

'16 is not prime'

In [26]:
is_prime(17)

'17 is prime'

In [27]:
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return str(num) + ' is not prime'
    else:
        return str(num) + ' is prime'

In [28]:
# check if two-word string starts with the same letter
#'python progrm'.split()
def two_words_letters(txt):
    lst = txt.split()
    word1 = lst[0]
    word2 = lst[1]
    return word1[0] == word2[0]

In [29]:
two_words_letters('Python Program')

True

In [30]:
two_words_letters('java program')

False

In [31]:
two_words_letters('Python program')

False

In [32]:
def two_words_letters(txt):
    lst = txt.split()
    
    return lst[0][0] == lst[1][0]

In [33]:
two_words_letters('Python Program')

True

In [34]:
two_words_letters('java program')

False

In [35]:
def two_words_letters(txt):
    lst = txt.lower().split()
    
    return lst[0][0] == lst[1][0]

In [36]:
two_words_letters('Python program')

True

In [37]:
# programming --> ProGramming
# 'macdonald' --> MacDonald
w = 'macdonald'

In [38]:
w[:3]

'mac'

In [39]:
w[:3].capitalize()

'Mac'

In [40]:
part1 = w[:3].capitalize()
part2 = w[3:].capitalize()

In [41]:
part1

'Mac'

In [42]:
part2

'Donald'

In [43]:
part1 + part2

'MacDonald'

In [44]:
def caps_two_letters(word):
    if len(word)<=3:
        return 'Sorry, the word is too small'
    else:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1+part2

In [45]:
caps_two_letters('programming')

'ProGramming'

In [46]:
caps_two_letters('mac')

'Sorry, the word is too small'

In [47]:
caps_two_letters('macd')

'MacD'

In [48]:
#reverse a statement
# ' I am home' --> 'home am I'
str1 = 'I am home'
lst = str1.split()
lst

['I', 'am', 'home']

In [49]:
#list reverse()
lst_rev = lst[::-1]
lst_rev

['home', 'am', 'I']

In [50]:
' '.join(lst_rev)

'home am I'

In [51]:
def rev_sent(txt):
    lst = txt.split()
    rev_lst = lst[::-1]
    return ' '.join(rev_lst)

In [52]:
rev_sent('Miluu is a lazy dog')

'dog lazy a is Miluu'

In [53]:
def rev_sent(txt):
    lst = txt.split()
    lst.reverse()
    return ' '.join(lst)

In [54]:
rev_sent('Miluu is a lazy dog')

'dog lazy a is Miluu'

In [55]:
def rev_sent(txt):
    return ' '.join(txt.split()[::-1])

In [56]:
rev_sent('Miluu is a lazy dog')

'dog lazy a is Miluu'

In [57]:
# check if a list has number 5 next to number 5 somewhere in the list
# [3,4,5,5,10] -> true
# [3,4,5,6,5,8] -> false
def check_for_55(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == 5 and lst[i+1]==5:
            return True
    
    return False

In [58]:
check_for_55([3,4,5,5,10])

True

In [59]:
check_for_55([3,4,5,6,5,8])

False

In [60]:
# check if a list has number 5 next to number 5 somewhere in the list
# [3,4,5,5,10] -> true
# [3,4,5,6,5,8] -> false
def check_for_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst[i+1]==5:
        if lst[i:i+2] == [5,5]:
            return True
    
    return False

In [61]:
check_for_55([3,4,5,5,10])

True

In [62]:
check_for_55([3,4,5,6,5,8])

False

In [63]:
# check code 001 in a list
# [1,4,5,0,0,1,8] -> true
# [1,0,2,5,0,6,1,8] -> true
# [1,5,6,0,6,7,8,0] -> false

def check_001_code(lst):
    code = [0,0,1,'s']
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove the number at index 0 from a list
    return len(code) == 1

In [64]:
check_001_code([1,4,5,0,0,1,8])

True

In [65]:
check_001_code([1,0,2,5,0,6,1,8])

True

In [66]:
check_001_code([1,5,6,0,6,7,8,0])

False

In [67]:
# number of arguments
def sum_nums(a,b):
    return sum((a,b))

In [68]:
sum_nums(10,5)

15

In [69]:
sum_nums(10)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [ ]:
def full_name(fname,lname):
    return lname + ', '+fname

full_name('Yohey','Wu')

In [ ]:
full_name('Yohey')

In [ ]:
def full_name(*names):
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0]+" "+names[1])

In [ ]:
full_name('Yohey','Wu')

In [ ]:
full_name('Yohey')

In [ ]:
# number of arguments
def sum_nums(*nums):
    if len(nums) < 2:
        return 0
    else:
        a = nums[0]
        b = nums[1]
        return sum((a,b))

In [ ]:
sum_nums(1)

In [ ]:
sum_nums(5,10)

In [ ]:
sum_nums(1,2,3)

In [70]:
#default parameter value
def my_country(name="USA"):
    print("I am from "+name)

In [71]:
my_country('Italy')

I am from Italy

In [72]:
my_country('India')

I am from India

In [73]:
my_country()

I am from USA

In [76]:
# keyword arguments
#the order of the parameter
def my_kids(child1,child2,child3):
    print("my first child "+child1+", my second child " + child2 + ", my third child " + child3)

In [77]:
my_kids('Bob','Jon','Alice')

my first child Bob, my second child Jon, my third child Alice

In [78]:
my_kids(child2 = 'Jon', child1 = 'Bob', child3 = 'Alice')

my first child Bob, my second child Jon, my third child Alice

In [80]:
my_kids(child3 = 'Alice', child2 = 'Jon', child1 = 'Bob')

my first child Bob, my second child Jon, my third child Alice

In [84]:
#arbitrary keyword argument, **kwargs

def my_fruit(**fruits):
    if 'fruit' in fruits:
        print(f"My favorite fruits is {fruits['fruit']}")
    else:
        print('I do not like fruit')

In [85]:
my_fruit(fruit='Apple')

My favorite fruits is Apple

In [86]:
my_fruit()

I do not like fruit

In [87]:
# arbitrary arguments and keyword arguments, *args and **kwargs
def my_food(*food, **fruits):
    if 'fruit' and 'juice' in fruits:
        print(f"I like {' and '.join(food)} and my favorite fruit is {fruits['fruit']}")
        print(f"I also like to have some {fruits['juice']} juice after dinner")
    else:
        pass

In [88]:
my_food('eggs','milk',fruit='cherry',juice='orange')

I like eggs and milk and my favorite fruit is cherry
I also like to have some orange juice after dinner

In [92]:
# scope of variables
num = 10

def print_num():
    num = 5
    print(num)

    
print(print_num())
print(num)

5
None
10

In [93]:
v = 10

def my_change(v):
    print('v = ',v)
    v = 50
    print('Changed local value v, inside the function to ', v)
    
my_change(v)

v =  10
Changed local value v, inside the function to  50

In [94]:
print(v)

10

In [95]:
# using function in list comprehensions
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08

final_price = [i * (1 + TAX_RATE) for i in txns]

final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [96]:
def get_price_after_tax(txn):
    return txn * (1 + TAX_RATE)

final_price = [get_price_after_tax(i) for i in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [97]:
lst = [2,3,4,5,6,7,1,2,3,4]

def get_squares(num):
    return num**2
squares = [get_squares(i) for i in lst]
squares

[4, 9, 16, 25, 36, 49, 1, 4, 9, 16]

In [98]:
# map() built in python function

'''
map(function,iterable[, iterable, iterable2,..., iterableN])
'''
lst = [2,3,4,5,6,7,1,2,3,4]

def get_squares(num):
    return num**2

map_squared = map(get_squares,lst)

list(map_squared)

[4, 9, 16, 25, 36, 49, 1, 4, 9, 16]

In [99]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08

def get_price_after_tax(txn):
    return txn * (1 + TAX_RATE)

final_price = map(get_price_after_tax,txns)

list(final_price)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]