# Yuhe Wu
# wk 5 09/23/2021 - 09/28/2021
# Python for loops

**General for loop format**
```
for item in object:
    statements to do work
```

In [1]:
sc = [68,87,89,92,66,84,88,75,89,91,95,94]

In [2]:
sc

[68, 87, 89, 92, 66, 84, 88, 75, 89, 91, 95, 94]

In [3]:
for n in sc:
    print(n)

68
87
89
92
66
84
88
75
89
91
95
94

In [4]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
92
66
84
88
94

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
for num in sc:
    if num % 2 == 0:
        pass
    else:
        print(num)

87
89
75
89
91
95

In [8]:
for num in sc:
    if num % 2 == 0:
        print(num, 'Even score')
    else:
        print(num, 'Odd score')

68 Even score
87 Odd score
89 Odd score
92 Even score
66 Even score
84 Even score
88 Even score
75 Odd score
89 Odd score
91 Odd score
95 Odd score
94 Even score

In [9]:
sc

[68, 87, 89, 92, 66, 84, 88, 75, 89, 91, 95, 94]

In [10]:
# get the sum of the scores
s = 0
for num in sc:
    s = s + num
    
print('sum = ', s)

sum =  1018

In [11]:
sum(sc)

1018

In [12]:
len(sc)

12

In [13]:
avg = s / len(sc)
print(avg)

84.83333333333333

In [14]:
print(sum(sc)/len(sc))

84.83333333333333

In [15]:
for l in 'I am a student in CIS310':
    print(l)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [16]:
t = (5,7,8,9,10,15)

for v in t:
    print(v)

5
7
8
9
10
15

In [17]:
lsl = [(10,20),(30,40),(50,60),(70,80),(90,100)]

In [18]:
for t in lsl:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [19]:
for (t1,t2) in lsl:
    print(t1)

10
30
50
70
90

In [20]:
for (t1,t2) in lsl:
    print(t2)

20
40
60
80
100

In [21]:
d = {'brand':'Ford', 'Model':'Mustang', 'Year':1964}

In [22]:
d

{'brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [23]:
d.items()

dict_items([('brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964)])

In [24]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [25]:
d.keys()

dict_keys(['brand', 'Model', 'Year'])

In [26]:
t = tuple(d.items())

In [27]:
t

(('brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964))

In [28]:
for item in d:
    print(item)

brand
Model
Year

In [29]:
for (k,v) in d.items():
    print(k,v)

brand Ford
Model Mustang
Year 1964

In [30]:
for k in d.keys():
    print(k)

brand
Model
Year

In [31]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [32]:
for t in d.items():
    print(t)

('brand', 'Ford')
('Model', 'Mustang')
('Year', 1964)

In [33]:
sorted([7,5,6,8])

[5, 6, 7, 8]

In [34]:
d1 = {'k1':7,'k2':5,'k3':4,'k4':6}

In [35]:
d1.values()

dict_values([7, 5, 4, 6])

In [36]:
for v in sorted(d1.values()):
    print(v)

4
5
6
7

In [37]:
#break and continue
fruits = ['Apple','Grape','Orange','Banana','Cherry']
for f in fruits:
    print(f)

Apple
Grape
Orange
Banana
Cherry

In [38]:
for f in fruits:
    print(f)
    if f == 'Banana':
        break

Apple
Grape
Orange
Banana

In [39]:
for f in fruits:
    if f == 'Banana':
        break
    else:
        print(f)

Apple
Grape
Orange

In [40]:
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [41]:
fruits

['Apple', 'Grape', 'Orange', 'Banana', 'Cherry']

In [42]:
#print evenything except banana
#continue keyword
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry

In [43]:
for f in fruits:
    if f == 'Banana':
        pass
    else:
        print(f)

Apple
Grape
Orange
Cherry

In [44]:
#range
range(6)

range(0, 6)

In [45]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [46]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [48]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [49]:
for num in range(1,30,3):
    print(num)

1
4
7
10
13
16
19
22
25
28

In [50]:
#else
for num in range(1,30,3):
    print(num)
else:
    print('Finish printing numbers in the for loop')

1
4
7
10
13
16
19
22
25
28
Finish printing numbers in the for loop

In [51]:
#nested for loop
des = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for d in des:  #outer for loop
    for f in fruits:  #innner for loop
        if d == 'red' and f == 'Banana':
            continue
        print(d,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [52]:
des = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana','Cherry']

for d in des:  #outer for loop
    for f in fruits:  #innner for loop
        if d == 'red' and f == 'Banana':
            continue
        print(d,f)
    print('==================')

red Apple
red Grape
red Orange
red Cherry
==================
small Apple
small Grape
small Orange
small Banana
small Cherry
==================
large Apple
large Grape
large Orange
large Banana
large Cherry
==================
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry
==================

In [53]:
#how to loop with index?
cols = ["red","green","blue","purple"]
for c in cols:
    print(c)

red
green
blue
purple

In [54]:
len(cols)

4

In [55]:
range(len(cols))

range(0, 4)

In [56]:
list(range(len(cols)))

[0, 1, 2, 3]

In [57]:
cols = ["red","green","blue","purple"]
for i in range(len(cols)):
    print(i,cols[i])

0 red
1 green
2 blue
3 purple

In [58]:
n = ["Washington","Adams","Jefferson","Madison","Monroe","Jackson"]
for i in range(len(n)):
    print("Name {}: {}".format(i+1,n[i]))

Name 1: Washington
Name 2: Adams
Name 3: Jefferson
Name 4: Madison
Name 5: Monroe
Name 6: Jackson

In [59]:
for i in range(len(n)):
    print('Name',i+1,': ',n[i])

Name 1 :  Washington
Name 2 :  Adams
Name 3 :  Jefferson
Name 4 :  Madison
Name 5 :  Monroe
Name 6 :  Jackson

In [60]:
#enumerate
for idx,name in enumerate(n):
    print("Name {}: {}".format(idx+1,name))

Name 1: Washington
Name 2: Adams
Name 3: Jefferson
Name 4: Madison
Name 5: Monroe
Name 6: Jackson

In [61]:
for idx,name in enumerate(n,start=1):
    print("Name {}: {}".format(idx,name))

Name 1: Washington
Name 2: Adams
Name 3: Jefferson
Name 4: Madison
Name 5: Monroe
Name 6: Jackson

In [62]:
cols = ["red","green","blue","purple"]
r = [0.2,0.3,0.25,0.1]

for i, color in enumerate(cols):
    print("{}% {}".format(r[i]* 100,color))

20.0% red
30.0% green
25.0% blue
10.0% purple

In [63]:
cols = ["red","green","blue","purple"]
r = [0.2,0.3,0.25,0.1]

for i, color in enumerate(cols):
    ratio = r[i]
    print("{}% {}".format(ratio* 100,color))

20.0% red
30.0% green
25.0% blue
10.0% purple

In [64]:
#zip
colors = ["red","green","blue","purple"]
ratios = [0.2,0.3,0.25,0.1]

z = zip(colors,ratios)

print(list(z))

[('red', 0.2), ('green', 0.3), ('blue', 0.25), ('purple', 0.1)]

In [65]:
#zip
colors = ["red","green","blue","purple"]
ratios = [0.2,0.3,0.25,0.1]

z = zip(colors,ratios)

print(list(z))

[('red', 0.2), ('green', 0.3), ('blue', 0.25), ('purple', 0.1)]

In [66]:
colors = ["red","green","blue","purple"]
ratios = [0.2,0.3,0.25,0.1]
for color, ratio in zip(colors,ratios):
    print('{}% {}'.format(ratio * 100,color))

20.0% red
30.0% green
25.0% blue
10.0% purple

In [67]:
a = ("John", "Charies", "Mike")
b = ("Jenny", "Christy", "Monica")

s = zip(a,b)
s

In [68]:
print(tuple(s))

(('John', 'Jenny'), ('Charies', 'Christy'), ('Mike', 'Monica'))