# Yuhe Wu
# wk 5 09/23/2021
# Python for loops

**General for loop format**
```
for item in object:
    statements to do work
```

In [2]:
sc = [68,87,89,92,66,84,88,75,89,91,95,94]

In [3]:
sc

[68, 87, 89, 92, 66, 84, 88, 75, 89, 91, 95, 94]

In [4]:
for n in sc:
    print(n)

68
87
89
92
66
84
88
75
89
91
95
94

In [5]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
92
66
84
88
94

In [6]:
4 % 2

0

In [7]:
5 % 2

1

In [8]:
for num in sc:
    if num % 2 == 0:
        pass
    else:
        print(num)

87
89
75
89
91
95

In [9]:
for num in sc:
    if num % 2 == 0:
        print(num, 'Even score')
    else:
        print(num, 'Odd score')

68 Even score
87 Odd score
89 Odd score
92 Even score
66 Even score
84 Even score
88 Even score
75 Odd score
89 Odd score
91 Odd score
95 Odd score
94 Even score

In [10]:
sc

[68, 87, 89, 92, 66, 84, 88, 75, 89, 91, 95, 94]

In [11]:
# get the sum of the scores
s = 0
for num in sc:
    s = s + num
    
print('sum = ', s)

sum =  1018

In [12]:
sum(sc)

1018

In [13]:
len(sc)

12

In [14]:
avg = s / len(sc)
print(avg)

84.83333333333333

In [15]:
print(sum(sc)/len(sc))

84.83333333333333

In [16]:
for l in 'I am a student in CIS310':
    print(l)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0

In [17]:
t = (5,7,8,9,10,15)

for v in t:
    print(v)

5
7
8
9
10
15

In [18]:
lsl = [(10,20),(30,40),(50,60),(70,80),(90,100)]

In [19]:
for t in lsl:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [20]:
for (t1,t2) in lsl:
    print(t1)

10
30
50
70
90

In [21]:
for (t1,t2) in lsl:
    print(t2)

20
40
60
80
100

In [22]:
d = {'brand':'Ford', 'Model':'Mustang', 'Year':1964}

In [23]:
d

{'brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [24]:
d.items()

dict_items([('brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964)])

In [25]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [26]:
d.keys()

dict_keys(['brand', 'Model', 'Year'])

In [28]:
t = tuple(d.items())

In [29]:
t

(('brand', 'Ford'), ('Model', 'Mustang'), ('Year', 1964))

In [30]:
for item in d:
    print(item)

brand
Model
Year

In [31]:
for (k,v) in d.items():
    print(k,v)

brand Ford
Model Mustang
Year 1964

In [32]:
for k in d.keys():
    print(k)

brand
Model
Year

In [33]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [34]:
for t in d.items():
    print(t)

('brand', 'Ford')
('Model', 'Mustang')
('Year', 1964)