# Yuhe Wu
# week7 10/05/2021
# Python list Comprehension

# list comprehension format
<code> new_list = [expression for member in lierable] <code/>
    

# using conditional logic
    
<code> new_list = [expression for member in literable (if conditional)]
<code/>
    
<code> new_list = [expression (if condition) for member in lterable]
<code/>

In [1]:
lst = []

for letter in 'CIS310DataAnalytsis':
    lst.append(letter)
    
lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 'D',
 'a',
 't',
 'a',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 's',
 'i',
 's']

In [2]:
# [expression for item in list]
lst = [letter for letter in 'CIS310DataAnalytsis']

lst

['C',
 'I',
 'S',
 '3',
 '1',
 '0',
 'D',
 'a',
 't',
 'a',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 's',
 'i',
 's']

In [3]:
squares = []

for num in range(11):
    squares.append(num * num)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [num*num for num in range(11)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# [expression for member in literable (if conditional)]
evens = [ v for v in range(11) if v % 2 ==0]

evens

[0, 2, 4, 6, 8, 10]

In [7]:
odds = [ v for v in range(11) if v % 2 !=0]

odds

[1, 3, 5, 7, 9]

In [10]:
lst = [ v for v in range(100) if v % 2 ==0 if v % 5 ==0]

lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [15]:
s = 'CIS310 communicate stduents with analytical thinking and technical skills'
v = 'aeiou'
vowels = [letter for letter in s if letter in v]
vowels

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'e',
 'i',
 'a',
 'i']

In [35]:
set(vowels)

{'a', 'e', 'i', 'o', 'u'}

In [18]:
#  new_list = [expression (if condition) for member in lterable]

prices = [1.25,-9.45,10.22,3.78,-5.93,1.66,-5.5]
new_prices = [i if i>0 else 0 for i in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.66, 0]

In [22]:
lst = ['even' if i%2==0 else 'odd' for i in range(11)]
lst

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [25]:
kids = [1,2,0,4,3,0,2,3,4,0,5,0,6,0,0,1]
status = ['married' if i>0 else 'single' for i in kids ]
status

['married',
 'married',
 'single',
 'married',
 'married',
 'single',
 'married',
 'married',
 'married',
 'single',
 'married',
 'single',
 'married',
 'single',
 'single',
 'married']

In [27]:
txns = [1.09,23.56,57.84,4.56,6.78]
tax_rate = 0.08
final_price = [i * (1+tax_rate) if i>0 else 0 for i in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [28]:
sentence = 'The financial impact of poor-quality data cost the US economy $3.1 trillion in 2016'
vowels = 'aeiou'
consonants = [letter for letter in sentence if letter.isalpha() and letter.lower() not in vowels]
consonants

['T',
 'h',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'h',
 'S',
 'c',
 'n',
 'm',
 'y',
 't',
 'r',
 'l',
 'l',
 'n',
 'n']

In [29]:
# nested list comprehension
squares = [num*num for num in range(11)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
squares = [num**2 for num in [num*num for num in range(11)]]
squares

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [31]:
lst =  [num**2 for num in [n for n in range(11) if n%2==0]]
lst

[0, 4, 16, 36, 64, 100]

In [36]:
# using Set and Dictionary Comprehension
#set
sentence = "data preparation consumes an anmount of time, (up to 80%) spent on analytics"
unique_vowels = {letter for letter in sentence if letter in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o', 'u'}

In [1]:
# Dictionary Comprehensions

d = {i:i**2 for i in range(11)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [3]:
cities = {'Fort Collins','Loveland','Denver','Boulder','Greeley'}
temps = {city:[t for t in range(40,70)] for city in cities}
print(temps)

{'Fort Collins': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], 'Greeley': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], 'Loveland': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], 'Denver': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69], 'Boulder': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69]}

In [7]:
l = [1,2,2,3,4,1,2,4,5,1,2,3,4]
d = {1:'yes', 2:'no'}
d.get(1)

'yes'

In [8]:
d.get(2)

'no'

In [9]:
d.get(5)

In [10]:
d.get(5,'neutral')

'neutral'

In [11]:
lst = [d.get(li,'neutral') for li in l]
lst

['yes',
 'no',
 'no',
 'neutral',
 'neutral',
 'yes',
 'no',
 'neutral',
 'neutral',
 'yes',
 'no',
 'neutral',
 'neutral']

In [13]:
lst = [1,7,13,11,23,4,8,17,6,5,9,20]
new_lst = [i**2 if i < 10 else i for i in lst]
new_lst

[1, 49, 13, 11, 23, 16, 64, 17, 36, 25, 81, 20]

In [19]:
l = [1,2,2,3,4,1,2,4,5,1,2,3,4]
new_lst = ['yes' if x ==1 else 'no' if x == 2 else 'idle' for x in l]
new_lst

['yes',
 'no',
 'no',
 'idle',
 'idle',
 'yes',
 'no',
 'idle',
 'idle',
 'yes',
 'no',
 'idle',
 'idle']

In [20]:
x = [5,2,1,4,5,2,1,3]

status = ['reject' if i < 2 else 'accept' if i > 4 else 'pending' for i in x]
status

['accept',
 'pending',
 'reject',
 'pending',
 'accept',
 'pending',
 'reject',
 'pending']